MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/perfume_db?retryWrites=true&w=majority
NEXTAUTH_SECRET=super-secret-key
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
EMAIL_SERVER=smtp://user:password@smtp.example.com:587
EMAIL_FROM=no-reply@perfume.com